* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

}

a {
  text-decoration: none;

}

:root {
  --care-brown: #7F7045;
  --care-blue: #173B67;
  --care-orange: #CE7C2A;
  --care-light: #FFFFFF;
  --care-dark: #444444;
  --care-lightgrey: #F5F5F5;
  --care-highlight: #FFCC01;
}


.container {
  width: 1000px;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

/* #region header */

.top_header {
  padding: 0.5rem;
  background-color: var(--care-brown);

  & ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }
}


.nav {

  padding: 1rem;

  & .menu {
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;

    & a {
      background-color: var(--care-orange);
      padding: 0.75rem;
      border-radius: 1.5rem;
      color: white;
    }
  }
}

/* #endregion header */

/* #region main */

.welcome {
  background-image: url(./assets/img/b.png);
  min-height: 600px;


  .cta_box {
    color: white;
    width: 300px;
    position: absolute;
    top: 400px;



    & a {
      background-color: var(--care-orange);
      padding: 0.75rem;
      border-radius: 1.5rem;
      color: white;
    }

  }
}


.about {

  padding: 3rem 0;
  display: flex;

  & img {
    height: 400px;
  }

  & .side-img {
    height: 200px;

  }

}


.services {

  background-color: var(--care-lightgrey);
  display: flex;

  & .side-img {
    height: 250px;

  }

  & .leftside-img{
    height: 150px;
  }

  .container {
    flex-direction: column;
  }

  & h3,
  h6 {
    text-align: center;
  }

  .service-box {
    display: flex;

    .card {

      background-color: var(--care-orange);
      border-radius: 5rem;
      margin: 2rem 1rem;
      text-align: center;
      padding: 1rem;

      & img {
        height: 75px;
      }

      & button {
        background-color: var(--care-highlight);
        border-radius: 50%;
        height: 35px;
        width: 35px;

      }

    }
  }


}

.choose {
  display: flex;

  .reasons-box{
    margin-top: 2rem;
    padding: 3rem;

    & img{
      height: 100px;
    }


    .card{
      display: flex;
      
    }
  }
}

/* #endregion main */


/* #region footer */
.top_footer {

  background-color: black;
  color: white;

  & ul {
    list-style: none;

  }

  & h4 {
    color: var(--care-orange);
  }

}


.box {

  & .socials {
    display: flex;
    gap: 1rem;
  }

}


/* #endregion footer */