* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

}

a {
  text-decoration: none;

}

:root {
  --care-brown: #7F7045;
  --care-blue: #173B67;
  --care-orange: #CE7C2A;
  --care-light: #FFFFFF;
  --care-dark: #444444;
  --care-lightgrey: #F5F5F5;
  --care-highlight: #FFCC01;
}


.container {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;

}

/* #region header */

.top_header {
  padding: 0.5rem;
  background-color: var(--care-brown);

  & ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }

  .container {

    justify-content: space-between;
  }
}


.nav {

  padding: 1rem;

  .container {

    justify-content: space-between;
  }

  & .menu {
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    color: lightslategray;
    padding: 0.5rem 0;

    & a {
      background-color: var(--care-orange);
      padding: 0.75rem;
      border-radius: 1.5rem;
      color: white;


    }

    .touch:hover {
      background-color: var(--care-blue);
    }

    li:hover {
      color: var(--care-orange);
    }
  }
}

/* #endregion header */

/* #region main */

.welcome {
  position: relative;

  & img {
    width: 100%;
  }

  .cta_box {
    color: white;
    width: 300px;
    position: absolute;
    top: 35%;

    * {
      margin: 1rem 0.5rem;
    }



    & a {
      background-color: var(--care-orange);
      padding: 0.75rem;
      border-radius: 1.5rem;
      color: white;
    }

    .start:hover {
      background-color: var(--care-blue);
    }

    .play {
      background-color: lightskyblue;
      border-radius: 1rem;


    }

  }
}


.about {
  position: relative;
  padding: 3rem 0;
  display: flex;

  & img {
    height: 400px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .col {
      width: calc(100% / 2);

    }
  }

  .about-text {
    width: 400px;
    right: 25%;
    top: 6.5rem;

    * {
      margin: 1rem 0;
    }

    .logo {
      display: flex;
      align-items: center;
      color: var(--care-orange);
      gap: 0.5rem;

      .icon {
        height: 30px;
      }
    }

  }

  & .side-img {
    height: 200px;
    position: absolute;
    right: 0;

  }

}


.services {

  background-color: var(--care-lightgrey);
  display: flex;
  width: 100%;
  height: 450px;
  position: relative;

  & .leftside-img {
    position: absolute;
    height: 150px;
    top: 3rem;
  }

  .container {
    flex-direction: column;
    position: absolute;
    left: 14%;
    top: 2.5rem;
  }

  & .side-img {
    height: 250px;
    position: absolute;
    right: 0;
    top: 3rem;

  }

  & h3,
  h6 {
    text-align: center;
  }

  & h6 {
    color: var(--care-orange);
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .col {
    width: calc(100% / 5);

    .card {

      background-color: var(--care-orange);
      border-radius: 6rem;
      margin: 2rem 1rem;
      text-align: center;
      padding: 1rem;
      color: white;

      * {
        margin: 0.5rem 0;
      }

      & img {
        height: 75px;
      }

      & button {
        background-color: var(--care-highlight);
        border-radius: 50%;
        height: 35px;
        width: 35px;

      }

    }
  }


  .card:hover {
    background-color: var(--care-brown);
  }


}

.choose {

  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .left-img {
    width: 600px;
  }

  .reasons-box {
    width: calc(100vw - 600px);
    margin-top: 2rem;
    padding: 3rem;

    & img {
      height: 100px;
    }

    .logo {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: var(--care-orange);
      margin-bottom: 2rem;

      .icon {
        height: 60px;
      }
    }

    .card-box {
      display: flex;
      flex-direction: column;

    }

    .card {
      display: flex;
      align-items: center;
      margin: 1rem 0;
    }


  }
}

.reviews {

  padding: 5rem 0 13rem 0;
  position: relative;

  .row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .col {
      width: calc(100% / 3);
      padding: 1.5rem;
    }
  }


  .card {
    width: 300px;
    aspect-ratio: 1;
    padding: 1rem;

    * {
      margin: 1rem 0;
    }

  }

  & .vote {
    list-style: none;
    display: flex;
    color: var(--care-highlight);

  }

  .rev-card {
    width: 300px;
    aspect-ratio: 1;
    padding: 1rem;
    background-color: var(--care-lightgrey);

    * {
      margin: 0.25rem 0;
    }

    .user {
      display: flex;


      & img {
        width: 80px;
        border-radius: 50%;

      }

      .user-id {
        margin: 1rem;
      }
    }
  }

  .carousel-button {
    justify-content: end;
    position: absolute;
    bottom: 10rem;
    right: 16rem;

    & button {
      width: 35px;
      aspect-ratio: 1;
      color: white;
      background-color: var(--care-orange);
      margin: 10px 10px;
    }

    button:hover {
      background-color: var(--care-brown);
    }

  }
}

/* #endregion main */


/* #region footer */

.newsletter {
  width: 800px;
  height: 200px;
  margin: auto;
  border-radius: 1rem;
  background-color: var(--care-orange);
  position: relative;
  bottom: 5rem;

  & img {
    height: 300px;
    position: absolute;
    bottom: 0;
    left: 30px;
  }

  .news-cta {
    position: absolute;
    right: 50px;
    top: 80px;

    .subscribe {
      background-color: white;
      display: flex;
      justify-content: space-between;
      padding: 0.25rem;
      height: 50px;
      

      & input {
        border: 0;
        width: 80%;
        padding: 1rem;
        
      }

      & span {
        width: 20%;
        height: 100%;        
        background-color: var(--care-orange);
        text-align: center;
        
        padding: 0.75rem 0;
      }
    }
  }

}


.top_footer {
  padding: 0 0 2rem 0;
  background-color: black;
  color: white;


  .container {
    justify-content: center;

    .row {
      display: flex;
      flex-wrap: wrap;

      .col {
        width: calc(100% / 5);
        text-align: center;

        & ul {
          list-style: none;

          * {
            margin: 0.5rem 0;

          }

        }

      }
    }

  }

  & h4 {
    color: var(--care-orange);
  }

}


.box {

  & .socials {
    display: flex;
    gap: 1rem;
  }

  * {
    margin: 0.5rem 0;
  }

}

.copy {
  background-color: black;
  color: white;
  text-align: center;
  border-top: 1px solid white;
  padding: 2.5rem;
}


/* #endregion footer */